version: "3"
services:
  bnk-data:
    container_name: bnk-data
    build: ./bnk-data
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: bnk
      MYSQL_USER: trucker
      MYSQL_PASSWORD: trucker
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - local
  bnk-config:
    container_name: bnk-config
    build: ./bnk-config
    restart: always
    expose:
      - 8888
    ports:
      - 8888:8080
    networks:
      - local
    environment:
      - spring.cloud.config.server.git.uri=https://github.com/ross-stockman/demo-config.git
  bnk-api-vendor:
    container_name: bnk-api-vendor
    build: ./bnk-api/bnk-api-vendor
    restart: always
    expose:
      - 8081
    ports:
      - 8081:8080
    networks:
      - local
    environment:
      - spring.cloud.config.uri=http://bnk-config:8080
      - lombok.anyConstructor.addConstructorProperties=true
    depends_on:
      - bnk-config
      - bnk-data
  bnk-api-category:
    container_name: bnk-api-category
    build: ./bnk-api/bnk-api-category
    restart: always
    expose:
      - 8082
    ports:
      - 8082:8080
    networks:
      - local
    environment:
      - spring.cloud.config.uri=http://bnk-config:8080
    depends_on:
      - bnk-config
      - bnk-data
  bnk-api-party:
    container_name: bnk-api-party
    build: ./bnk-api/bnk-api-party
    restart: always
    expose:
      - 8083
    ports:
      - 8083:8080
    networks:
      - local
    environment:
      - spring.cloud.config.uri=http://bnk-config:8080
    depends_on:
      - bnk-config
      - bnk-data
      - bnk-api-vendor
      - bnk-api-category
  bnk-api-customer:
    container_name: bnk-api-customer
    build: ./bnk-api/bnk-api-customer
    restart: always
    expose:
      - 8084
    ports:
      - 8084:8080
    networks:
      - local
    environment:
      - spring.cloud.config.uri=http://bnk-config:8080
    depends_on:
      - bnk-config
      - bnk-data
  bnk-api-bank:
    container_name: bnk-api-bank
    build: ./bnk-api/bnk-api-bank
    restart: always
    expose:
      - 8085
    ports:
      - 8085:8080
    networks:
      - local
    environment:
      - spring.cloud.config.uri=http://bnk-config:8080
    depends_on:
      - bnk-config
      - bnk-data
  bnk-api-account:
    container_name: bnk-api-account
    build: ./bnk-api/bnk-api-account
    restart: always
    expose:
      - 8086
    ports:
      - 8086:8080
    networks:
      - local
    environment:
      - spring.cloud.config.uri=http://bnk-config:8080
    depends_on:
      - bnk-config
      - bnk-data
      - bnk-api-customer
      - bnk-api-bank
  bnk-api-transaction:
    container_name: bnk-api-transaction
    build: ./bnk-api/bnk-api-transaction
    restart: always
    expose:
      - 8087
    ports:
      - 8087:8080
    networks:
      - local
    environment:
      - spring.cloud.config.uri=http://bnk-config:8080
    depends_on:
      - bnk-config
      - bnk-data
      - bnk-api-party
      - bnk-api-account
volumes:
  db-data:
networks:
  local:
    driver: bridge